.digitalCareWrapper .HomePageBackgroundImgContainer {
    height: auto;
}

.digitalCareContainer p, .digitalCareContainer h3 {
    color: #44745F;
    color: black;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

.digitalCareContainer {
    padding-bottom: 30px;
}

#digitalText {
    margin-top: 50px;
    width: 90%;
}

#digitalText p {
    font-weight: 400;
}

