#menuBar {
  width: 100vw;
  /* height: 100vh; */
  background-color: #C6DACF;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#menuBar button {
    width: 30%;
  padding: 10px 20px;
  margin: 20px;
  background-color: #44745F;
  color: white;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: transform 0.3s ease;
}

#menuBar button:hover {
  transform: scale(1.1);
}

.open {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  margin: 0;
  height: 100%;
}

#menuBar.closed {
  display: none;
}
