.HomePageBackgroundImgContainer {
    display: flex;
    justify-content: center;
}

.HomePageWelcomeText {
width: 95%;
border-radius: 10px;
background-color: white;
color: #44745F;
height: 100%;
opacity: 0.8;
padding: 30px;
}

h1, h2, h3, h4 {
    margin-bottom: 15px;
    font-weight: 400;
}