.Footer {
    height: 400px;
    width: 100vw;
    background-color: #adcfc0;
    /* position: absolute;
    left: 0;
    bottom: 0; */
}

#footerImgContainer {
    width: 100vw;
    padding: 20px;
}
#footerImgContainer img {
    width: 70%;
    max-width: 400px;
}

#footerContact {
    padding: 20px;
}

p {
    font-size: 1.2rem;
}

